header{
    border:1px solid #1a1a1a;
    background:blue;
}

.box1{
    border:0px solid #1a1a1a;
    width:30%;
    float:left;
}

.box2{
    border:0px solid #1a1a1a;
    width:70%;
    float:right;
}

footer{
    background: white;
    clear:both;
}

.box5{
    background-color:blue;
    text-align:center;
    margin:30px auto;
}

#nav{
    list-style: none;
    font-size: 0;
}

#nav li{
    width:20vh;
    text-align:center;
    background-color:blue;
    display:inline-block;
    font-size:23px;
}

#nav li a{
    text-decoration:none;
    color:white;
    font-weight: bold;
}